* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Muli;
  font-size: 90px;
  background-color: #333;
  color: #eee;
}

.state {
  display: none;
  text-align: center;
}

.title {
  margin: 40px;
}

.sub-title {
  font-size: 44px;
}

.callout {
  font-weight: 800;
}

.step {
  background-color: #ccc;
  color: #333;
  font-size: 40px;
  padding: 40px;
  width: 880px;
  margin: 105px auto;
  position: relative;
}

.num {
  position: absolute;
  font-size: 69px;
  top: -57px;
  left: -64px;
  border-radius: 230px;
  background-color: white;
  border: 8px solid black;
  width: 126px;
  height: 127px;
  font-weight: bold;
}

.score {
  margin-top: 500px;
}

hr {
  margin: 30px 50px;
  border: 1px solid rgb(156, 156, 156);
}

.larger {
  font-size: 44px;
}

.alert-box {
  position: absolute;
  width: 100%;
  top: 60px;
}

.alert {
  width: 80%;
  background-color: #ccc;
  font-size: 30px;
  border-radius: 10px;
  color: #333;
  margin: 0 auto;
  padding: 30px;
  display: none;
}

.alert.error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
  pointer-events: none;
}
