* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Muli;
  font-size: 128px;
  background-color: #333;
  color: #eee;
}

.state {
  display: none;
  text-align: center;
}

.title {
  margin: 100px;
}

.callout {
  font-weight: 800;
}

.step {
  background-color: #ccc;
  color: #333;
  font-size: 70px;
  padding: 58px;
  width: 880px;
  margin: 120px auto;
  position: relative;
}

.num {
  position: absolute;
  font-size: 79px;
  top: -57px;
  left: -64px;
  border-radius: 230px;
  background-color: white;
  border: 8px solid black;
  width: 126px;
  height: 127px;
  font-weight: bold;
}

.score {
  margin-top: 500px;
}

canvas {
  border-left: 5px solid #eee;
  border-right: 5px solid #eee;
}

hr {
  margin: 49px;
  border: 1px solid rgb(156, 156, 156);
}

.larger {
  font-size: 150px;
}
