* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

body {
  text-align: center;
}

body {
  font-family: Muli;
}

body, h1, h2 {
  font-weight: 300;
}

.title {
  margin: 64px 0px 32px;
}

.state {
  display: none;
}

.state.active {
  display: block;
}

#gamefield {
  width: 500px;
  height: 200px;
  position: relative;
  border: 2px solid black;
  margin: 10px auto;
}

.entity {
  position: absolute;
}

#p1, #p2 {
  height: 20px;
  width: 5px;
  border: 2px solid black;
}

.right-label {
  right: 0;
}

.left-label {
  left: 0;
}

#ball {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

#join_token {
  left: 0;
  right: 0;
  top: -25px;
  font-size: 20px;
  text-align: center;
}

input.error {
  border: 1px solid red;
}

#state-controller {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.table {
  color: white;
  font-size: 40px;
  font-weight: bold;
  height: 50%;
  background-color: red;
  display: table;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.cell > div {
  text-align: center;
}
